@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');


html {
  color: #4e3f4a;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    border-radius: 5px;
}

h2 {
    font-size: 3.2rem;
    font-family: 'Staatliches', cursive;
    text-align: left;
    margin-left: 20px;
}

h3.text-center {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 20px;
}
/*list*/

li {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
}

dt {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 40px;
}

dd { 
    color: #6e6e6e;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 40px;
}

header {
    color: #ffffff;
    background-image: url("../images/inbellevue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 40px 25px;
    border-radius: 0 0 75% 75% / 45%;
    width: 100%;
    font-size: 5rem;
} 

main {
    padding: 2.5rem;
    max-width: 1000px;
}

article {
    margin-left: 2rem;
    margin-right: 2rem;
}

section {
    color: #494949;
    font-size: 2rem;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
}

aside {
    border-bottom: 6px solid rgb(59, 59, 59);
    background-color: rgb(224, 224, 224);
    margin-top: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    border-radius: 55% 55% 55% 55%/ 20%;
}

footer {
    text-align: center;
    color: #505050;
    padding: 1rem;
}

/*img and figcaption*/

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/******************
working on for week 5
I gave the id for section1, 2 and added float property to section 1.
Also, added clear property to section 2 for removing float before I used.
*******************/

section#first figure {
    float: left;
    padding-right: 2em;
    color: #fa78da;
}

section#second {
    clear: left;
}

.intro {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 1em;
    font-style: italic;
    color: #d86f9b;
    padding-right: 15px;
}

.bit-columns {
    column-count: 3;
    column-gap: 30px;
    column-rule: 4px dashed #f88ac7;
}

.source {
    word-break:break-all;
    font-size: 0.8em;
}

/******************
I set the colmuns to two depending the browser's size
when it's between 321 to 600px, it is printed two column.
when it's less than 321px, it returned just one column. 
*******************/

@media screen and (min-width: 321px) and (max-width: 600px) {
    .bit-columns {
        column-count: 2;
        column-rule: 4px dotted #f88ac7;
    }
}

@media screen and (max-width: 320px) {
    .bit-columns {
        all: unset;
    }
}

/*link effects*/

a:link {
    color: rgb(0, 36, 155);
}

a:visited {
    color: #333333;
}

a:hover {
    color: #69014f; background-color: #ffffff; text-decoration: none;
}

a:active {
    color: #ffffff; background-color: #333333; text-decoration: none; 
}

/*this is for button*/

.btn-3d {
	position: relative;
	display: inline-block;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
	padding: 20px 60px;
	color: white;
	margin: 20px 10px 10px;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.cyan:hover   {background-color: rgb(189, 189, 189);}

.btn-3d:active {
	top: 9px;
}

.btn-3d.cyan {
	background-color: #b8b8b8;
	box-shadow: 0 0 0 1px #b8b8b8 inset,
				0 0 0 2px rgba(255, 255, 255, 0.329) inset,
				0 8px 0 0 rgba(105, 105, 105, 0.6),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active {
	box-shadow: 0 0 0 1px #919191 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}
div.button-box {
    text-align: center;
}