@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); /*font-family: 'Muli', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap'); /*font-family: 'Questrial', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap'); /*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Nanum Myeongjo', serif;*/
/*font-family: 'Nanum Gothic', sans-serif;*/


html {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 5px solid #000000;
}

/***********************************************Header*/

header {
    padding: 15px;
    width: 100%;
    height: 170px;
}

.hide-h1 {
    font-size: 10px; 
    position: absolute; 
    top: -9999px; 
    left: -9999px;
}

/***********************************************Logo*/

.logo {
    width: 340px;
    overflow: hidden;
    padding: 30px;
}

.logo-deal {
    width: 60%;
    animation: deal 1s;
    animation-direction: alternate;
    animation-iteration-count: 2; 
}

.logo-mani {
    width: 40%;
    margin-left: 50px;
    animation: mani 2.2s;
}

@keyframes deal {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mani {
    0% { transform: translateX(-40px); opacity: 0;}
    100% { transform: translateX(0); } 
}

/***********************************************Nav*/

.sidenav {
    top: 220px;
    margin: 0;
    padding: 0;
    width: 17%;
    text-align: right;
    font-size: 2.5rem;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
    line-height: 45%;
    padding-inline-start: 0;
}

li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
    list-style: none;
}

li a:hover {
    background-color: rgb(215, 243, 54);
    color: #000000;
}

li a:focus {
    background-color: rrgb(215, 243, 54);
    color: #000000;   
}

/*********************************************DealsBoard***/

.deal-board {
    width: 75%;
    margin-left: 20%;
    font-size: 2rem;
    box-sizing: border-box; 
}

/*********************************************DealsGallery***/

.gallery {
    border: 1px solid #3a3a3a;
    margin-top: 5%;
}

.product-image {
    width: 100%;
    height: auto;
}

.name {
    padding: 15px;
    text-align: center;
    font-size: 1.8rem;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
}

.price {
    padding: 15px;
    text-align: right;
    font-size: 1.4rem;
    color: #c96507;
}

.toLink {
    margin: 15px 20px;
    padding: 10px 15px;
    font-size: 1.4rem;
    text-align: center;
    color: #3a3a3a;
    background-color: #faf325;
}

.toLink:hover {
    background-color: rgb(215, 243, 54);
}

.tolink:focus {
    background-color: rgb(215, 243, 54);
    outline: 5px solid #000000;
}
/*Why it doesn't work?*/

/*********************************************Coupons***/

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

/*To clear after the first column*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 #b1b1b1;
    padding: 16px;
    text-align: center;
    background-image: linear-gradient(-45deg, rgb(238, 240, 124), rgb(171, 248, 98));
}

.card-name {
    font-size: 2.2rem;
}

.promocode {
    color: #ff3c00;
    font-weight: 900;
}

/*********************************************Main-clear***/

.to-clear::after {
    content: "";
    clear: both;
    display: table;
}

/*********************************************Text-Styles***/

.main-h2 {
    padding: 0 10px 20px 10px;
    font-size: 1.8rem;
    font-weight: lighter;
    border-bottom: 1px solid #3a3a3a;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    padding: 0 10px;
}

/*********************************************Footer***/

footer {
    text-align: center;
    padding: 50px 20px;
    border-top: 1px solid #3a3a3a;
    margin-top: 20px;
    width: 100%;
}

footer a:link {
    color: #d56000;
    text-decoration-line: underline;
}

footer a:visited {
    color: #633e20;
}

footer a:hover {
    background-color: #000000;
    color: #ffffff;
}

/*********************************************icon***/

[class^="icon"] {
    width: 50px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.icon-coupons {
    top: 15px;
}

/**********************************************Board**/

/*h2 style*/
.board-name {
    font-family: 'Muli', sans-serif;;
    padding: 15px 10px;
    color: #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    margin: 0 0 15px 0;
}

/*********************************************Media***/

@media screen and (max-width: 700px) {
    
    header {
        height: auto;
    }

    .logo {
        width: 40%;
        padding: 0;
    }

    .logo-mani {
        margin-left: 24px;
    }
    
    .sidenav {
        top:0;
        left: 0;
        width: 100%;
        height: auto;
        position: relative; /**/
        text-align: unset;
        margin: unset;
        font-size: 1.4rem;
    }
    .sidenav a {
        float: left;
    }
    
    [class^="icon"] {
        width: 20px;
    }

    .deal-board {
        margin-left: unset;
        margin-right: unset;
        width: 100%;
        top: 24%;
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
    .responsive {
        width: 100%;
    }
}
