@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/
/*font-family: 'Nanum Gothic', sans-serif;*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

html {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}

header {
    height: 140px;
}

.logo-img {
    padding: 50px;
}

.logo {
    width: 170px;
}

.sidenav {
    width: 300px;
    height: 450px;
    font-size: 2.5rem;
    color:#000000;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 80px;
    overflow-x: hidden;
    padding: 10px 0;
    list-style-type: none;
}

.sidenav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
}

.sidenav a:hover {
    color: rgb(16, 136, 98);
}

main {
    width: 824px;
    height: 270px;
    margin-left: 300px;
    font-size: 3rem;
    padding: 0 10px;
    border: 4px solid #878787;
}

.sectionContainer {
    margin: 0 auto;
}

article {
    width: 400px;
    height: 200px;
    margin-left: 300px;
    font-size: 2rem;
    padding: 0 10px;
    border: 4px solid #878787;
    float: left;
}

aside {
    width: 400px;
    height: 200px;
    margin-left: 724px;
    font-size: 2rem;
    padding: 0 10px;
    border: 4px solid #878787;
}

footer {
    text-align: center;
    padding: 20px 0px;
    border: 4px solid #878787;
}