@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html {
  color: #703ecc;
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  background-image: url("../images/background_p.jpg");
  background-repeat: repeat;
}

/*for navigation*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #d7f337, #13f1e6);
    border-radius: 15px;
}

li {
    float: left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #4e4e4e;
    color: white;
  }
  
  .active {
    background-color: rgb(97, 97, 97);
    color: white;
  }

/************
week-5 updates!
I added display value, padding, and width. Width is for equal-width.
*************/

nav.bit112-nav {
    display: inline-block;
    padding: 5px;
    width: 25%;
}

/*heading; I changed heading color and margin value*/

h1 {
    color: #321844;
    font-size: 4.5rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

h2 {
    color: #353535;
    font-size: 2.5rem;
    font-family: 'Fredoka One', cursive;
    text-align: left;
    margin-left: 40px;
}
p {
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 40px;
}
/*list*/

li {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
}

dt {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 40px;
}

dd { 
    color: #6e6e6e;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    margin-left: 40px;
}

/*I've changed the border color, and added margin and padding using rem for header, section, body.*/

header {
    padding: 1rem;
    line-height: 1rem;
    margin: 3rem;
} 

main {
    padding: 2rem;
    max-width: 600px;
}

section {
    padding: 1rem;
    color: #5419c2
}

body {
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgb(242, 226, 253);
    padding: 0 20px 20px 20px;
    border: 8px solid #30106b;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Marvel', sans-serif;
}

footer {
    text-align: center;
    color: #3f3f3f;
    padding: 1rem;
}

/*img and figcaption*/

img {
    display: block;
    margin: 0 auto;
}

figure {
    text-align: center;
}

/*link effects*/

a:link {
    color: rgb(34, 47, 107);
}

a:visited {
    color: rgb(89, 14, 160);
}

a:hover {
    color: #073466; background-color: #fafa24; text-decoration: none;
}

a:active {
    color: #ffffe2; background-color: #320b7a; text-decoration: none; 
}
